/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* UTILITY */

/* .debug * {
    min-height: 100px;
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px dashed red;
} */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* INIZIO HEADER */
header {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
    color: black;
}

.header-left,
.header-right {
    justify-content: center;
}

.header-left-nav,
.header-right-nav {
    display: flex;
}

.header-left-nav > img {
    height: 30px;
}

.header-left-nav > li {
    margin-right: 30px;
    align-items: center;
}

.header-right-nav > li {
    margin-left: 30px;
    align-items: center;
}

button {
    background-color: rgb(0, 68, 255);
    padding: 8px 15px;
    border: none;
    color: white;
}
/* FINE HEADER */

/* INIZIO MAIN */
.top-main {
    background-color: rgb(124, 166, 245);
    padding-top: 3rem;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

.flex {
    display: flex;
}

.left-top-main {
width: 30%;
}

.right-top-main {
    width: 70%;
}