/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* UTILITY */

/* .debug * {
    min-height: 100px;
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px dashed red;
} */

button:hover {
    cursor: pointer;
}

.container-l {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;

    margin-left: -1rem;
    margin-right: -1rem;
}

[class*='col'] {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;
}

.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: calc(100% / 2);
}

.col-1-3 {
    width: calc(100% / 3);
}

.col-1-4 {
    width: calc(100% / 4);
}

.col-1-5 {
    width: calc(100% / 5);
}

/* INIZIO HEADER */
header {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
    color: black;
}

.header-left,
.header-right {
    justify-content: center;
}

.header-left-nav,
.header-right-nav {
    display: flex;
    align-items: center;
}

.header-left-nav > img {
    height: 30px;
}

.header-left-nav > li {
    margin-right: 30px;
    align-items: center;
}

.header-right-nav > li {
    margin-left: 30px;
    align-items: center;
}

button {
    background-color: rgb(0, 68, 255);
    padding: 8px 15px;
    border: none;
    color: white;
}
/* FINE HEADER */

/* INIZIO MAIN */
.top-main {
    background-color: #b4d0e7;
    padding-top: 3rem;
}

.header-container {
    position: relative;
    top: 5rem;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.flex {
    display: flex;
}

.left-top-main {
width: 30%;
}

.left-top-main > p {
    margin-bottom: 2rem;
}

.right-top-main {
    width: 70%;
}

#cancel {
    background-color: transparent;
    color: black;
    padding: 0;
    margin-top: 2rem;
}

.left-top-main > i {
    display: block;
    font-size: 4rem;
    margin-top: 4rem;
}

hr {
    color: #fafafa;
    margin-top: 6rem;
    margin-bottom: 4rem;
}
/* FINE TOP MAIN */

/* INIZIO SUBSCRIPTION */
.col-1-1 > h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 4rem;
}

.fa-ul {
    display: flex;
}

.fa-ul li {
    margin-right: 7rem;
}

.fa-ul i {
    font-size: 1.3rem;
}

.card {
    border: solid 1px lightgrey;
    height: 100%;
}

.main-sub {
    margin-top: 4rem;
}

.type-sub {
    text-align: center;
    border-bottom: solid 1px lightgrey;
    padding: 1rem;
}

.type-plan {
    padding: 2rem;
}

.type-plan ul li {
    padding-top: 1rem;
}

.light {
    color: rgb(166, 166, 166);
}

.service-plan {
    padding: 1rem;
    margin-bottom: 2rem;
}

.service-plan .fa-ul li {
    padding-top: 1.5rem;
    margin-right: 2rem;
}

.try-button {
    text-align: center;
}

.try-button button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.buy-link {
    padding-left: 1.8rem;
}

.buy-link span {
    border-bottom: solid 1px lightgrey;
    padding-bottom: 3rem;
}

.buy-link a {
    text-decoration: underline;
    color: blue;
}

.plan-spec {
    padding-top: 7rem;
}

.plan-spec h2 {
    padding-left: 1.8rem;
    font-size: 1.1rem;
    font-weight: 800;
}

.plan-spec .fa-ul {
    padding-left: 1rem;
}

.plan-spec .fa-ul li {
    font-size: 1.1rem;
    margin-right: 3rem;
    padding-top: 2rem;
}

.user::after {
    content: ' Singolo';
}

.users::after {
    content: ' Team';
}

.company::after {
    content: ' Azienda';
}

.service-plan .fa-ul,
.plan-spec .fa-ul {
    display: block;
}

.plan-spec .fa-ul i {
    color: blue;
}
/* FINE SUBSCRIPTION */

/* INIZIO PARTNER SECTION */
.partner {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
}

.left-section-partner {
    width: 60%;
}

.right-section-partner {
    width: 40%;
}

.right-section-partner {
    padding: 2rem;
}

.content-right-section-partner {
    width: 90%;
}

.content-right-section-partner > * {
    margin: 1rem 0rem;
}

#partner-button {
    color: black;
    background-color: transparent;
    border: solid 1px black;
}
/* FINE PARTNER SECTION */

/* INIZIO INFO SECTION */
.info-section * {
    margin-bottom: 1rem;
}
/* FINE INFO SECTION */

.client {
    width: 70%;
}

.client h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.client a {
    text-decoration: underline;
    color: blue;
    font-size: 1.2rem;
}

/* INIZIO FOOTER */
footer {
    background-color: black;
    padding-top: 7rem;
    margin-top: 14rem;
}

footer section {
    display: flex;
}

.footer-nav {
    width: 20%;
    color: white;
}

.footer-nav th {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.footer-nav td {
    padding-bottom: 1.5rem;
}

.footer-nav a {
    font-size: 1.2rem;
}

